# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🌱 Virtual environment
.env
.venv/

# 🍎 macOS
.DS_Store

# 🧠 PyCharm / IntelliJ
.idea/
*.iml

# ❌ Ignore compiled DAGs
dags/__pycache__/

logs/

# Unused dags
archive/

# Secret folder
secrets/

generate_timesheet.py

learning/