# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🌱 Virtual environment
.env
.venv/
secrets/

# 🍎 macOS
.DS_Store

# 🧠 PyCharm / IntelliJ
.idea/
*.iml

# ⚙️ Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
logs/

# 🔒 Python version file
.python-version

# 🧪 Constraints files (local)
constraints.txt

# ❌ Ignore compiled DAGs
dags/__pycache__/

# Unused dags
archive/